# Contents / Assets
/assets
/tmp

# Commands
/commands/.*
/commands_private
__pycache__

# Testing
/test
/testing
/.vscode
TEST_*.py

# IDEs
config.cfg
.replit
.idea
.nova

# Misc
.cache
*.json
*.db
*.log
.DS_Store