# Contents / Assets
/content
/assets
# Commands
/commands/__pycache__
/commands_private
/utils/__pycache__

# Testing
/test
/.vscode
TEST_*.py
main-pp.py

# IDEs
config.cfg
.replit
*.lock
*.toml
.idea

# venv
/venv

# Misc
.cache
*.json
*.db
*.log