[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
py-cpuinfo = "*"
psutil = "*"
aiohttp = "*"
spotipy = "*"
colorthief = "*"
wikipedia = "*"
flask = "*"
url-cleaner = "*"

[dev-packages]

[requires]
python_version = "3.12"
